{% extends "main/principal.html" %}

Inscripcion de Estudiantes 

{% block content %}

<h2>Formulario de Registro</h2>
<div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{message.tags}}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Import: {% endif %}
            {{ message }}

        </li>
        {% endfor%}
    </ul>
    {% endif %}
</div>

<form method="post">
    {% csrf_token %}
    {{estudiante_form.as_p}}
    {{inscripcion_form.as_p}}<br>
    
    <button type="submit">Crear y Editar</button>

</form>

{% endblock %}